html {
    background-color: dodgerblue;
    border: 5px dashed deepskyblue thick;
    width: fit-content;
    margin: 20px;
}

p {
    font-size: 111%;
    font-family: cursive;
    color: darkgoldenrod;
    background: #4169e1;
    text-align: justify;
}

img {
    position: left;
    border: 3px deepskyblue;
    float: left;
}